.flatpickr-calendar {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  font-size: rem(14px);
  line-height: rem(24px);
  position: absolute;
  width: 100%;
  border-radius: 0;
  max-width: rem(420px);
  -webkit-box-shadow: 0 rem(6px) rem(35px) rgba(79, 135, 251, 0.08);
  box-shadow: 0 rem(6px) rem(35px) rgba(79, 135, 251, 0.08);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-color: #d3daeb;
  font-family: $fontMain;
}

.flatpickr-weekdaycontainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flatpickr-calendar.open, .flatpickr-calendar.inline {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: rem(640px)
}

.flatpickr-calendar.open {
  display: inline-block;
  z-index: 100;
  padding: rem(25px) 0 0;
}

.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(.23, 1, .32, 1);
  margin-top: rem(15px);
  border: rem(1px) solid #bdc3d3;
}

.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: rem(2px);
}

.wrap_img {
  position: relative;
  width: 100%;
  height: 500px;
}

.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 0.125rem);
}

.flatpickr-calendar.static.open {
  z-index: 999;
  display: block
}

.flatpickr-calendar.hasWeeks {
  width: auto
}

.flatpickr-calendar .hasWeeks .dayContainer, .flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: rem(40px);
  border-top: rem(1px) solid #e6e6e6
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto
}

.flatpickr-calendar.rightMost:before, .flatpickr-calendar.rightMost:after {
  left: auto;
  right: rem(22px)
}

.flatpickr-calendar:before {
  border-width: rem(5px);
  margin: 0 rem(-5px)
}

.flatpickr-calendar:after {
  border-width: rem(4px);
  margin: 0 rem(-4px)
}

.flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after {
  bottom: 100%
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: #f9f5fa;
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #f9f5fa;
}

.flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after {
  top: 100%
}

.flatpickr-calendar.arrowBottom:before {
  border-top-color: #e6e6e6
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff
}

.flatpickr-calendar:focus {
  outline: 0
}

.flatpickr-wrapper {
  position: relative;
  display: inline-block
}

.flatpickr-month {
  color: #454f66;
  height: rem(50px);
  background-color: #fff;
  line-height: 1;
  text-align: center;
  width: 100%;
  max-width: rem(380px);
  border-radius: rem(25px);
  margin: 0 auto rem(18px);
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flatpickr-prev-month, .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  line-height: rem(39px);
  z-index: 3;
  top: rem(26px);
  border-radius: 50%;
  -webkit-box-shadow: 0 rem(4px) rem(18px) rgba(172, 98, 193, 0.15);
  box-shadow: 0 rem(4px) rem(18px) rgba(172, 98, 193, 0.15);
  width: rem(49px);
  color: #434343;
  height: rem(49px);
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(1px) solid #d3d9eb;
  svg {
    display: none;
  }
}

.flatpickr-prev-month {
  &::before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: relative;
    left: rem(-2px);
    border-top: rem(7.5px) solid transparent;
    border-right: rem(13px) solid $colorBlue;
    border-bottom: rem(7.5px) solid transparent;
  }
}

.flatpickr-next-month {
  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: rem(-2px);
    border-top: rem(7.5px) solid transparent;
    border-left: rem(13px) solid $colorBlue;
    border-bottom: rem(7.5px) solid transparent;
  }
}

.flatpickr-prev-month i, .flatpickr-next-month i {
  position: relative
}

.flatpickr-prev-month.flatpickr-prev-month, .flatpickr-next-month.flatpickr-prev-month {
  left: rem(15px);
}

.flatpickr-prev-month.flatpickr-next-month, .flatpickr-next-month.flatpickr-next-month {
  right: rem(15px);
}

.flatpickr-prev-month:hover, .flatpickr-next-month:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.flatpickr-prev-month svg, .flatpickr-next-month svg {
  width: rem(14px);
}

.flatpickr-prev-month svg path, .flatpickr-next-month svg path {
  -webkit-transition: fill .1s;
  transition: fill .1s;
  fill: inherit
}

.numInputWrapper {
  position: relative;
  height: auto;
}

.numInputWrapper input, .numInputWrapper span {
  display: inline-block
}

.numInputWrapper input {
  width: 100%
}

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: rem(14px);
  padding: 0 rem(4px) 0 rem(2px);
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: rem(1px) solid rgba(57, 57, 57, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1)
}

.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2)
}

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
  top: 33%
}

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}

.numInputWrapper span.arrowUp:after {
  border-left: rem(4px) solid transparent;
  border-right: rem(4px) solid transparent;
  border-bottom: rem(4px) solid rgba(57, 57, 57, 0.6)
}

.numInputWrapper span.arrowDown {
  top: 50%;
}

.numInputWrapper span.arrowDown:after {
  border-left: rem(4px) solid transparent;
  border-right: rem(4px) solid transparent;
  border-top: rem(4px) solid rgba(57, 57, 57, 0.6)
}

.numInputWrapper span svg {
  width: inherit;
  height: auto;
}

.numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5)
}

.numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05);
}

.numInputWrapper:hover span {
  opacity: 1
}

.flatpickr-current-month {
  font-size: 135%;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  line-height: 1;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.flatpickr-current-month.slideLeft {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-animation: fpFadeOut 400ms ease, fpSlideLeft 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeOut 400ms ease, fpSlideLeft 400ms cubic-bezier(.23, 1, .32, 1)
}

.flatpickr-current-month.slideLeftNew {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-animation: fpFadeIn 400ms ease, fpSlideLeftNew 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeIn 400ms ease, fpSlideLeftNew 400ms cubic-bezier(.23, 1, .32, 1)
}

.flatpickr-current-month.slideRight {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-animation: fpFadeOut 400ms ease, fpSlideRight 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeOut 400ms ease, fpSlideRight 400ms cubic-bezier(.23, 1, .32, 1)
}

.flatpickr-current-month.slideRightNew {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: fpFadeIn 400ms ease, fpSlideRightNew 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeIn 400ms ease, fpSlideRightNew 400ms cubic-bezier(.23, 1, .32, 1)
}

.flatpickr-current-month span.cur-month {
  font-family: inherit;
  display: inline-block;
  padding: 0;
  font-size: rem(18px);
  text-transform: uppercase;
  color: #454f66;
}

.flatpickr-current-month span.cur-month:hover {
  background: rgba(0, 0, 0, 0.05)
}

.flatpickr-current-month .numInputWrapper {
  width: 7ch;
  display: inline-block;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0, 0, 0, 0.9)
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0, 0, 0, 0.9)
}

.flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  padding: 0 0 0 .5ch;
  margin: 0;
  display: inline-block;
  font-family: inherit;
  line-height: inherit;
  height: initial;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  font-size: rem(18px);
  text-transform: uppercase;
  color: #454f66;
}

.flatpickr-current-month input.cur-year:focus {
  outline: 0
}

.flatpickr-current-month input.cur-year[disabled], .flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none
}

.flatpickr-weekdays {
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  margin-bottom: rem(20px);
  padding: 0 rem(10px);
}

.flatpickr-weekdaycontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

span.flatpickr-weekday {
  cursor: default;
  background: transparent;
  line-height: 1;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: 500;
  color: #454f66;
  font-size: rem(16px);
}

.dayContainer, .flatpickr-weeks {
  padding: 1px 0 0 0
}

.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: rem(15px) rem(10px);
}

.flatpickr-days:focus {
  outline: 0
}

.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  background-color: #fff;
}

.flatpickr-calendar.animate .dayContainer.slideLeft {
  -webkit-animation: fpFadeOut 400ms cubic-bezier(.23, 1, .32, 1), fpSlideLeft 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeOut 400ms cubic-bezier(.23, 1, .32, 1), fpSlideLeft 400ms cubic-bezier(.23, 1, .32, 1)
}

.flatpickr-calendar.animate .dayContainer.slideLeft, .flatpickr-calendar.animate .dayContainer.slideLeftNew {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0)
}

.flatpickr-calendar.animate .dayContainer.slideLeftNew {
  -webkit-animation: fpFadeIn 400ms cubic-bezier(.23, 1, .32, 1), fpSlideLeft 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeIn 400ms cubic-bezier(.23, 1, .32, 1), fpSlideLeft 400ms cubic-bezier(.23, 1, .32, 1)
}

.flatpickr-calendar.animate .dayContainer.slideRight {
  -webkit-animation: fpFadeOut 400ms cubic-bezier(.23, 1, .32, 1), fpSlideRight 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeOut 400ms cubic-bezier(.23, 1, .32, 1), fpSlideRight 400ms cubic-bezier(.23, 1, .32, 1);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0)
}

.flatpickr-calendar.animate .dayContainer.slideRightNew {
  -webkit-animation: fpFadeIn 400ms cubic-bezier(.23, 1, .32, 1), fpSlideRightNew 400ms cubic-bezier(.23, 1, .32, 1);
  animation: fpFadeIn 400ms cubic-bezier(.23, 1, .32, 1), fpSlideRightNew 400ms cubic-bezier(.23, 1, .32, 1)
}

.flatpickr-day {
  background: none;
  border: rem(1px) solid #d3d9eb;
  border-radius: rem(150px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #454f66;
  font-size: rem(15px);
  font-weight: 700;
  cursor: pointer;
  width: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: rem(37px);
  height: rem(37px);
  line-height: rem(37px);
  margin: 0 rem(10px) rem(10px);
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6;
}

.flatpickr-day.today {
  background-color: $colorBlue;
  border-color: $colorBlue;
  color: #fff;
}

.flatpickr-day.today:hover, .flatpickr-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  color: #000;
  border-color: #000;
}

.flatpickr-day.selected {
  border-color: $colorBlue;
}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
  border: none;
  border-radius: rem(50px) 0 0 rem(50px);
  background-color: $colorBlue;
  box-shadow: none;
  color: #fff;
}

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
  border: none;
  border-radius: 0 rem(50px) rem(50px) 0;
  background-color: $colorBlue;
  box-shadow: none;
  color: #fff;
}

.flatpickr-day.selected.startRange + .endRange, .flatpickr-day.startRange.startRange + .endRange, .flatpickr-day.endRange.startRange + .endRange {
  -webkit-box-shadow: rem(-10px) 0 0 #569ff7;
  box-shadow: rem(-10px) 0 0 #569ff7
}

.flatpickr-day.selected.startRange.endRange, .flatpickr-day.startRange.startRange.endRange, .flatpickr-day.endRange.startRange.endRange {
  border-radius: rem(50px)
}

.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: rem(-5px) 0 0 #e6e6e6, rem(5px) 0 0 #e6e6e6;
  box-shadow: rem(-5px) 0 0 #e6e6e6, rem(5px) 0 0 #e6e6e6
}

.flatpickr-day.disabled, .flatpickr-day.disabled:hover {
  pointer-events: none
}

.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
  border-color: #f7f6f8;
  cursor: default;
  color: #b0b3bb;
}

.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: rem(-5px) 0 0 #569ff7, rem(5px) 0 0 #569ff7;
  box-shadow: rem(-5px) 0 0 #569ff7, rem(5px) 0 0 #569ff7
}

.rangeMode .flatpickr-day {
  margin-top: rem(1px)
}

.flatpickr-weekwrapper {
  display: inline-block;
  float: left;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 rem(12px);
  -webkit-box-shadow: rem(1px) 0 0 #e6e6e6;
  box-shadow: rem(1px) 0 0 #e6e6e6
}

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: rem(28px)
}

.flatpickr-weekwrapper span.flatpickr-day {
  display: block;
  width: 100%;
  max-width: none
}

.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: rem(10px);
}

.flatpickr-rContainer {
  display: block;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: rem(40px);
  max-height: rem(40px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flatpickr-time:after {
  content: "";
  display: table;
  clear: both
}

.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  height: rem(40px);
  float: left;
  font-size: rem(13px);
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939
}

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%
}

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%
}

.flatpickr-time input {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  cursor: pointer;
  color: #393939;
  font-size: rem(14px);
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flatpickr-time input.flatpickr-hour {
  font-weight: bold
}

.flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second {
  font-weight: 400
}

.flatpickr-time input:focus {
  outline: 0;
  border: 0
}

.flatpickr-time .flatpickr-time-separator, .flatpickr-time .flatpickr-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}

.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.flatpickr-time .flatpickr-am-pm:hover, .flatpickr-time .flatpickr-am-pm:focus {
  background: #f0f0f0
}

.flatpickr-input[readonly] {
  cursor: pointer
}

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, rem(-20px), 0);
    transform: translate3d(0, rem(-20px), 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, rem(-20px), 0);
    transform: translate3d(0, rem(-20px), 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes fpSlideLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
}

@keyframes fpSlideLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
}

@-webkit-keyframes fpSlideLeftNew {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes fpSlideLeftNew {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes fpSlideRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
}

@keyframes fpSlideRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
}

@-webkit-keyframes fpSlideRightNew {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes fpSlideRightNew {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes fpFadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fpFadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@-webkit-keyframes fpFadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fpFadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}