.popup_info {
  position: fixed;
  top: rem(-4000px);
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility .35s, opacity .35s, top 0s .35s;
  background-color: rgba(0, 0, 0, .55);
  display: flex;
  align-items: center;
  justify-content: center;
  .popup_info_wrap {
    width: 100%;
    max-width: rem(736px);
    box-shadow: 0 rem(1px) rem(3px) rgba(9, 55, 164, 0.16);
    background-color: #fff;
    padding: rem(90px);
    position: relative;
  }
  .popup_info_close {
    color: #d3daeb;
    position: absolute;
    top: rem(25px);
    right: rem(21px);
    z-index: 2;
    cursor: pointer;
    font-size: rem(28px);
  }
  .popup_info_title {
    text-align: center;
    margin-bottom: rem(54px);
    font-size: rem(30px);
    color: $colorBlue;
    font-weight: 700;
  }
  .popup_info_text {
    font-size: rem(20px);
    text-align: center;
    margin-bottom: rem(40px);
  }
  .btn {
    min-width: rem(140px);
    margin: auto;
  }
  &.active {
    transition: visibility .35s, opacity .35s, top 0s;
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

.cropper_popup {
  position: fixed;
  top: rem(-3000px);
  overflow: hidden;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .4);
  transition: opacity .4s, visibility .4s, top 0s .4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .cropper_popup_wrap {
    width: 100%;
    max-width: rem(1200px);
    height: rem(600px);
    margin-bottom: rem(25px);
    transform: scale(1.2);
    transition: transform .4s .1s;
    img {
      max-width: 100%;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    top: 0;
    transition: opacity .4s, visibility .4s, top 0s;
    .cropper_popup_wrap {
      transform: scale(1);
    }
  }
}