.about_us {
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  .about_top {
    position: absolute;
    top: 0;
    z-index: 3;
    right: 29.2vw;
    height: rem(195px);
    width: rem(3px);
  }
  .about_left {
    position: absolute;
    top: rem(307px);
    z-index: 3;
    left: 0;
    height: rem(3px);
  }
  .st0 {
    fill: none;
    stroke: #3EC0DD;
    stroke-width: 3;
    -webkit-transition: .2s;
    transition: .2s;
    stroke-miterlimit: 10;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    padding: rem(195px) rem(90px) 0;
    position: relative;
    z-index: 2;
  }
  .about_us_left {
    width: 50%;
    padding-top: rem(65px);
    margin-right: rem(20px);
    position: relative;
    z-index: 2;
    .title_block {
      margin-bottom: rem(40px);
      padding-left: rem(30px);
      position: relative;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      text-indent: rem(30px);
      margin-bottom: rem(30px);
    }
  }
  .about_us_right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .about_us_photo {
      width: 100%;
      overflow: hidden;
      opacity: 0;
      position: relative;
      right: rem(-40px);
      height: rem(357px);
      img {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
  .about_line_top {
    position: absolute;
    right: 29.3vw;
    z-index: 4;
    height: rem(196px);
    width: rem(3px);
    top: rem(-1px);
  }
  .about_line_left {
    position: absolute;
    left: rem(-90px);
    z-index: 4;
    height: rem(3px);
    width: 100%;
    max-width: rem(110px);
    top: rem(43px);
  }
  &.animation {
    //.about_line_top,
    .about_line_left {
      path {
        stroke-dasharray: 150% 150%;
        stroke-dashoffset: 150%;
        -webkit-transition: .3s;
        transition: .3s;
      }
    }
    .success_interest {
      path {
        stroke-dasharray: 150% 150%;
        stroke-dashoffset: 150%;
        -webkit-transition: .3s;
        transition: .3s;
      }
    }
    .about_us_left {
      .title_block {
        -webkit-transition: .3s;
        transition: .3s;
        line-height: .9;
        opacity: 0;
      }
      p {
        opacity: 0;
        margin-bottom: rem(5px);
        -webkit-transition: .3s;
        transition: .3s;
        color: $sky-color;
      }
    }
    .about_us_right {
      .about_us_photo {
        -webkit-transition: opacity .5s, right 1s;
        transition: opacity .5s, right 1s;
      }
    }
    .about_us_success {
      opacity: 0;
      -webkit-transition: .3s;
      transition: .3s;
      .success_content {
        -webkit-transition: .3s;
        transition: .3s;
        background-color: rgba(40, 40, 64, 0);
      }
    }
    &.active {
      //.about_line_top {
      //  path {
      //    stroke-dashoffset: 0;
      //    -webkit-transition: .8s;
      //    transition: .8s;
      //  }
      //}
      .about_line_left {
        path {
          stroke-dashoffset: 0;
          -webkit-transition: .5s .8s;
          transition: .5s .8s;
        }
      }
      .success_interest {
        path {
          stroke-dashoffset: 0;
          -webkit-transition: .4s 1.6s;
          transition: .4s 1.6s;
        }
      }
      .left_img_bg {
        -webkit-transition: 1s .4s, opacity .3s .4s;
        transition: 1s .4s, opacity .3s .4s;
        opacity: .13;
        bottom: 0;
      }
      .right_img_bg {
        -webkit-transition: 1s .4s, opacity .3s .4s;
        transition: 1s .4s, opacity .3s .4s;
        opacity: .13;
        top: rem(250px);
      }
      .about_us_left {
        .title_block {
          -webkit-transition: .3s .3s;
          transition: .3s .3s;
          opacity: 1;
          line-height: 1.4;
        }
        p {
          -webkit-transition: .5s .8s;
          transition: .5s .8s;
          opacity: 1;
          color: $black-color;
          margin-bottom: rem(30px);
        }
      }
      .about_us_right {
        .about_us_photo {
          opacity: 1;
          right: 0;
        }
      }
      .about_us_success {
        opacity: 1;
        -webkit-transition: .5s .8s;
        transition: .5s .8s;
        .success_content {
          -webkit-transition: .5s 1.2s;
          transition: .5s 1.2s;
          background-color: rgba(40, 40, 64, .91);
        }
      }
    }
  }
}

.about_us_success {
  position: relative;
  -ms-flex-item-align: end;
  align-self: flex-end;
  right: rem(-90px);
  height: rem(278px);
  width: 92%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
  }
  .success_content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: rem(50px) 0;
    background-color: rgba(40, 40, 64, .91);
    .success_text {
      font-size: rem(27px);
      text-align: center;
      color: #fff;
      .success_title {
        text-transform: uppercase;
      }
      .success_interest {
        display: block;
        font-size: rem(55px);
        position: relative;
        svg {
          position: absolute;
          width: 22%;
          max-width: rem(107px);
          top: rem(34px);
          &:first-child {
            left: 10%;
          }
          &:last-child {
            right: 10%;
          }
        }
        //&::before, &::after {
        //  @include before_fig(20%, rem(3px), $sky-color);
        //  top: 49%;
        //}
        //&::before {
        //  left: 12%;
        //}
        //&::after {
        //  right: 12%;
        //}
      }
    }
  }
}

.left_img_bg {
  position: relative;
  bottom: rem(-50px);
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  height: auto;
  max-width: rem(345px);
  -webkit-transition: .6s;
  transition: .6s;

  opacity: .13;
  bottom: 0;
}

.right_img_bg {
  position: relative;
  top: 0;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  height: auto;
  max-width: rem(345px);
  right: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.about_triangle {
  position: absolute;
  bottom: rem(20px);
  left: 0;
  width: 0;
  z-index: 1;
  height: 0;
  opacity: .48;
  border-bottom: 20vw solid #f7f7f7;
  border-right: 15vw solid transparent;
}

.about_list {
  width: 100%;
  max-width: rem(400px);
  //border-left: solid rem(3px) $sky-color;
  padding-left: rem(30px);
  padding-top: rem(10px);
  margin-bottom: rem(70px);
  position: relative;
  .about_list_link {
    width: 100%;
    position: relative;
    z-index: 5;
    li {
      margin-bottom: rem(15px);
      position: relative;
      top: rem(-40px);
      opacity: 0;
      -webkit-transition: .1s;
      transition: .1s;
      a {
        display: inline-block;
        -webkit-transition: .3s;
        transition: .3s;
        border-bottom: rem(1px) solid transparent;
        font: normal rem(16px)/1.2 $sylfaen;
        text-transform: uppercase;
        &.active, &:hover {
          color: $sky-color;
          border-bottom: rem(1px) solid $sky-color;
        }
      }
    }
  }
  .about_list_line {
    position: absolute;
    width: rem(3px);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    path {
      stroke-width: 6;
    }
  }
}

.lawyer_img {
  position: relative;
  width: 100%;
  max-width: rem(580px);
  height: auto;
}

.main_section {
  position: relative;
  overflow: hidden;
  padding: rem(195px) 0 rem(100px);
  .main_section_content {
    width: 100%;
    max-width: rem(1150px);
    margin: auto;
    padding: 0 rem(10px);
    //display: flex;
    //flex-direction: column;
    position: relative;
    z-index: 2;
    .main_section_text {
      //max-width: rem(680px);
      .about_list_title {
        font: normal rem(30px)/1 $sylfaen;
        color: $sky-color;
        text-transform: uppercase;
        margin-bottom: rem(45px);
        opacity: 0;
        -webkit-transition: opacity .3s .5s;
        transition: opacity .3s .5s;
      }
      width: 100%;
      > h1 {
        font: normal rem(30px)/1.4 $sylfaen;
        letter-spacing: rem(.6px);
        margin-bottom: rem(36px);
      }
      > h2, > h3, > h4, > h5, > h6 {
        font: normal rem(18px)/1.4 $roboto;
        margin-bottom: rem(20px);
        font-weight: bold;
      }
      > p {
        font: 300 rem(18px)/1.4 $roboto;
        margin-bottom: rem(20px);
        text-indent: rem(20px);
        b {
          font-weight: 700;
        }
      }
      .position {
        text-transform: uppercase;
        font: normal rem(20px)/1.4 $sylfaen;
        margin-bottom: rem(20px);
      }
      &.column {
        > ul {
          width: 100%;
          //list-style-position: inside;
          //-webkit-column-count: 2;
          //column-count: 2;
          //text-indent: rem(40px);
          margin-bottom: rem(20px);
          > li {
            margin-bottom: rem(15px);
            text-indent: rem(27px);
            position: relative;
            &::before {
              font-family: "fontello";
              content: '\e808';
              color: $sky-color;
              font-size: rem(18px);
              position: absolute;
              left: rem(-22px);
              top: rem(1px);
            }
          }
          ol {
            counter-reset: count;
            margin-bottom: rem(20px);
            li {
              position: relative;
              padding-left: rem(20px);
              margin-bottom: rem(5px);
              &::before {
                position: absolute;
                left: 0;
                top: rem(1px);
                counter-increment: count;
                color: $sky-color;
                content: counter(count) ".";
              }
            }
          }
        }
      }
    }
    .aside_main {
      float: right;
      display: inline;
      width: 100%;
      margin-left: 50px;
      margin-bottom: rem(30px);
      max-width: rem(390px);
      .search {
        margin-bottom: rem(50px);
      }
    }
  }
  .link_before {
    color: $sky-color;
    font: normal rem(16px)/1.5 $sylfaen;
    text-transform: uppercase;
    margin-top: rem(20px);
    display: inline-block;
    i {
      margin-right: rem(15px);
    }
  }
  .shape_left, .shape_right {
    position: absolute;
    z-index: 1;
    top: 0;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .shape_left {
    left: 0;
  }
  .shape_right {
    right: 0;
  }
  .main_section_top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    max-width: rem(1130px);
    right: 29.2vw;
    path {
      stroke-width: rem(3px);
    }
  }
  &.animation {
    .main_section_top {
      path {
        stroke-dasharray: 150% 150%;
        stroke-dashoffset: 150%;
        -webkit-transition: 1s .5s;
        transition: 1s .5s;
      }
    }
    .about_list {
      .about_list_line {
        path {
          stroke-dasharray: 150% 150%;
          stroke-dashoffset: 150%;
          -webkit-transition: .3s;
          transition: .3s;
        }
      }
    }
    .article_min {
      .article_min_line {
        path {
          stroke-dasharray: 150% 150%;
          stroke-dashoffset: 150%;
          -webkit-transition: .5s;
          transition: .5s;
        }
      }
    }
    &.active {
      .main_section_top {
        path {
          stroke-dashoffset: 0;
          -webkit-transition: 3s;
          transition: 3s;
        }
      }
      .about_list {
        .about_list_title {
          opacity: 1;
        }
        .about_list_line {
          path {
            stroke-dashoffset: 0;
            -webkit-transition: 1s 1.6s;
            transition: 1s 1.6s;
          }
        }
        .about_list_link {
          li {
            top: 0;
            opacity: 1;
            &:nth-child(1) {
              -webkit-transition: .2s .7s;
              transition: .2s .7s;
            }
            &:nth-child(2) {
              -webkit-transition: .2s .8s;
              transition: .2s .8s;
            }
            &:nth-child(3) {
              -webkit-transition: .2s .9s;
              transition: .2s .9s;
            }
            &:nth-child(4) {
              -webkit-transition: .2s 1s;
              transition: .2s 1s;
            }
            &:nth-child(5) {
              -webkit-transition: .2s 1.1s;
              transition: .2s 1.1s;
            }
            &:nth-child(6) {
              -webkit-transition: .2s 1.2s;
              transition: .2s 1.2s;
            }
            &:nth-child(7) {
              -webkit-transition: .2s 1.3s;
              transition: .2s 1.3s;
            }
            &:nth-child(8) {
              -webkit-transition: .2s 1.4s;
              transition: .2s 1.4s;
            }
            &:nth-child(9) {
              -webkit-transition: .2s 1.5s;
              transition: .2s 1.5s;
            }
            &:nth-child(10) {
              -webkit-transition: .2s 1.6s;
              transition: .2s 1.6s;
            }
          }
        }
      }
      .article_min {
        .article_min_line {
          path {
            stroke-dashoffset: 0;
            -webkit-transition: 1s 2s;
            transition: 1s 2s;
          }
        }
      }
    }
  }
}

.quote_slider {
  background-color: #fbfbfb;
  .quote_slider_wrap {
    width: 100%;
    max-width: rem(980px);
    margin: auto;
    position: relative;
    padding: rem(110px) 0 rem(150px);
  }
  .quote_slider_elem {
    text-align: center;
    width: 100%;
    max-width: rem(675px);
    margin: auto;
    -webkit-transition: .4s;
    transition: .4s;
    overflow: hidden;
    position: relative;
    .quote {
      text-align: center;
      margin-bottom: rem(35px);
      position: relative;
      opacity: 0;
      -webkit-transition: top .4s, opacity .4s .2s;
      transition: top .4s, opacity .4s .2s;
      top: rem(-100px);
    }
    .about_quote {
      position: relative;
      opacity: 0;
      -webkit-transition: bottom .3s .2s, opacity .4s .4s;
      transition: bottom .3s .2s, opacity .4s .4s;
      bottom: rem(-100px);
    }
    &.move {
      opacity: 0;
      visibility: collapse;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
    &.active {
      opacity: 1;
      visibility: visible;
      .quote {
        opacity: 1;
        top: 0;
      }
      .about_quote {
        bottom: 0;
        opacity: 1;
      }
    }
  }
  .quote_left, .quote_right {
    display: block;
    height: rem(66px);
    width: rem(86px);
    position: absolute;
    overflow: hidden;
    img {
      height: rem(66px);
      width: rem(86px);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .quote_right {
    bottom: rem(150px);
    right: 0;
    img {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .quote_left {
    top: rem(50px);
    left: 0;
  }
}

.lawyer_contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: rem(35px);
  a {
    font: normal rem(20px)/1.4 $sylfaen;
    i {
      color: $sky-color;
      margin-right: rem(7px);
    }
  }
}
